body {
  text-align: center;
  background-color: #1b1d23;
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  font-weight: normal;
}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

#title > i{
  font-size: 70px;
  font-weight: 500;
}

.w {
  background-image: url('images/crash.png');
  background-size: cover;
}

.a {
  background-image: url('images/kick.png');
  background-size: cover;
}

.s {
  background-image: url('images/snare.png');
  background-size: cover;
}

.d {
  background-image: url('images/tom1.png');
  background-size: cover;
}

.j {
  background-image: url('images/tom2.png');
  background-size: cover;
}

.k {
  background-image: url('images/tom3.png');
  background-size: cover;
}

.l {
  background-image: url('images/tom4.png');
  background-size: cover;
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
  color: #000;
}

.red {
  color: red;
}

.drum {
  outline: none;
  font-family: "Open Sans", sans-serif;
  color:#000;                                                                        border: 10px solid #404B69;
  font-size: 5rem;
  line-height: 2;
  font-weight: 900;
  text-shadow: 3px 0 #4d6168;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
  cursor: pointer;
}

.lagos{
  color: #fff;
}

.lagos:hover{
  text-decoration: underline;
  color: #deb887;
  cursor: pointer;
}